*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #333;
}

h1{
    margin: 1rem;
    color: #fff;
    font-size: 2.5rem;
    margin-top: 0rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    background: linear-gradient(90deg, #3498db,#e74c3c);
    flex-wrap: wrap;
}

.box{
    width: 10vw;
    height: 10vh;
    cursor: move;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.box:hover{
    background: linear-gradient(90deg,#2980b9,#c0392b);
}

.one{
    background-color: #3498db;  /* Blue Purple */
}

.two{
    background-color: #e74c3c;  /* Red Purple */
}

.three {
    background-color: #4b0082; /* Dark Purple */
  }
  
  .four {
    background-color: #8b4513; /* Saddle Brown */
  }
  
  .five {
    background-color: #20b2aa; /* Light Sea Green */
  }
  
  .six {
    background-color: #00ff00; /* Lime Green */
  }
  
  .seven {
    background-color: #800000; /* Maroon */
  }
  
  .eight {
    background-color: #ffa500; /* Orange */
  }
  
  .nine {
    background-color: #ff0000; /* Red */
  }
  
  .ten {
    background-color: #40e0d0; /* Turquoise */
  }
  
  .eleven {
    background-color: #f0e68c; /* Khaki */
  }
  
  .twelve {
    background-color: #ffff00; /* Yellow */
  }
  
  